/*------------------------------
     BASIC ELEMENTS
------------------------------*/
body {
    font-family: 'Verdana', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;    
}

h1 {
    box-shadow: 5px 2px 3px rgba(0,0,0,.5);
    color: skyblue;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.menu-container:after, .container:after {
    clear: both;
    content: "";
}

/*------------------------------
     NAV BAR
------------------------------*/
.menu-container {
    top: 0;
    left: 0;
    /* To the top edge of the screen */
    position: absolute;
    width: 100%;
    background-color: 184352;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
      float: left;
  }

  li a {
    display: block;
    color: white;
    font-weight: 900;
    font-variant: small-caps;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }

  

  li a:hover {
    background-color: #111;
    color: lightskyblue;
  }
/*------------------------------
     HOME
------------------------------*/
#home {
    margin-top: 60px;
}

#home img {
    max-width: 80%;
    border: 2px solid black;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*------------------------------
     GALLERY
------------------------------*/
.row > .column {
    padding: 8px 8px;
  }

  .row {
      width: 850px;
      background-color: black;
      margin: 0 auto;    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Create 4 equal columns that floats next to each other */
.column {
    float: left;
    width: 195px;
  }

.box_thumb:hover {
    cursor: pointer;
}

  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 800px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*------------------------------
     CONTACT FORM
------------------------------*/
.contact-form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form p {
    text-align: center;
    font-weight: 900;
    margin-bottom: 30px 0;
}

.contact-form form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #808080;
    padding: 12px 0 12px 50px;
    width: 60%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background:#25a7da;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #333333;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 15px 0 15px 15px;
    display: block;
    border-radius: 7px;
    background: #efefef;
 }


.contact-form input[type="submit"] {
    color:white;
    cursor: pointer;
    border: none;
    font-weight: 700;
    outline: none;
    text-align: center;
    font-variant: small-caps;
    margin: auto;
    display: block;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #333;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color:skyblue;
    background-color: black;
 }




/*------------------------------
     FEATURES
------------------------------*/


/*------------------------------
     VIDEO
------------------------------*/
.video-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

}