p {
  color: rgb(199,21,133);
  text-align: center;
}
.font_1 {
	background-color: black;
	color: yellow;
	font-size: large;
}
.font_2 {
	background-color: darkblue;
	color: white;
	font-size: medium;
}
.my_style {
	font-weight: bold;
	font-size: large;
	font-color: magenta;
	font-family: "Verdana", "Geneva", sans-serif;
}
